*{
    font-family: 'Permanent Marker', cursive;
}

.mainBG{
    display: flex;
    height: 300px;
    width: 300px;
    border-radius: 10%;
    background-image: url("./images/lost_gif.gif");
    align-items: center;
    justify-content: center;
}

.secondBG{
    display: flex;
    height: 250px;
    width: 250px;
    border-radius: 10%;
    align-items: center;
    justify-content: center;
}

.img{
    height: 125px;
    width: 125px;
}

/* Start of Start page */
.startPage{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 20px;
}

.Pat{
    border-radius: 100%;
}
/* End of Start Page */

/* Start of Invitation Page */
.invitation{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 20px;
}

.inviteCard{
    text-align: center;
}

.date{
    font-size: x-large;
    font-weight: bolder;
}

#crawl{
    font-size: large;
}

#coming{
    font-size: large;
}

.yes{
    height: fit-content;
    width: 75px;
}

.no{
    height: fit-content;
    width: 75px;
}

.notComing{
    text-align: center;
}

.lame{
    font-size: x-large;
    font-weight: bolder;
}
.Yody{
    height: 160px;
    width: 180px;
}

.nvm{
    height: fit-content;
    width: 100px;
}
/* End of Invitation Page */

/* Start of Main Page */
/* ``` */
.mainPage{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 20px;
    flex-direction: column;
    
}
/* ``` */
/* Directions bit */
/* ``` */
.Direct{
    text-align: center;
    font-size: x-large;
    font-weight: bolder;
    text-decoration: underline;
}

.tap{
    font-size: large;
    text-align: center;
}

.presto{
    font-size: large;
    text-align: center;
}
/* ``` */
.information{
    align-items: center;
    justify-content: center;
}

.information button {
    margin: 10px;
    width: 100px;
    justify-content: center;
}

.place{
    text-align: center;
    font-size: x-large;
    font-weight: bolder;
    text-decoration: underline;
}

.time{
    font-size: large;
    text-align: center;
}

.address{
    font-size: large;
    text-align: center;
}

.friend{
    margin: 10px;
}





